doctype html
html
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		title S3 Form Test
		link( rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" )
		script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js" )

	body
		.container
			h1 S3 Form Test

			hr

			h3 Parameter
			form#s3formAttrs( action="/" )
				.row 
					.col-sm-3
						.form-group
							label( for="key" ) Filename: 
							input.form-control#key( name="key" value=q.key )
					.col-sm-3
						.form-group
							label( for="acl" ) Acl: 
							select.form-control#acl( name="acl" type="select" )
								option( selected= q.acl == "public-read" ) public-read
								option( selected= q.acl == "authenticated-read" ) authenticated-read 
					.col-sm-3
						.form-group
							label( for="contenttype" ) Set file mime type: 
							select.form-control#contenttype( name="contenttype" type="select" )
								option( selected= q.contenttype == "" value="" ) None
								option( selected= q.contenttype == "image/jpeg" ) image/jpeg
								option( selected= q.contenttype == "text/plain" ) text/plain
								option( selected= q.contenttype == "text/html" ) text/html
								option( selected= q.contenttype == "application/pdf" ) application/pdf
					.col-sm-3
						.form-group
							label( for="statuscode" ) StatusCode-Policy: 
							input.form-control#statuscode( name="statuscode" value=q.statuscode )
							span.help-block
								| This will use 
								code success_action_status
								| instead of 
								code success_action_redirect 
				.row
					.col-sm-12
						button.btn.btn-default( type="submit" ) Change

			hr

			h3 Example
			.row-fluid
				.col-sm-6( style="overflow:hidden" )
					form#s3form( action=example.action target="s3target" enctype="multipart/form-data" method="POST" )
						
						h4 Generated Hidden Data
						dl.dl-horizontal
							each val, name in example.fields
								input.form-control( id=name type="hidden" name=name value=val )
								dt= name
								dd= val

						.form-group
							label( for="file" ) File: 
							input#file( type="file" name=example.filefield )

						button.btn.btn-default( type="submit" ) Upload
				if example.fields[ "success_action_status" ] != undefined
					.col-sm-6
						h4 AJAX-Result
						div#ajaxresult

						script.
							$( document ).ready(function() {
								var _Form = $( "#s3form" )
								_Form.on( "submit", function( evnt ){
									evnt.stopPropagation()
									evnt.preventDefault()
									var _action = _Form.attr( "action" )
									_return = function(){
										var _url = _action + "/" + _Form.get(0).key.value
										$( "#ajaxresult" ).html( "<img src='" + _url + "?r=" + Math.random() + "' >" );
									}
									$.ajax({
										type: "POST",
										url:_action,
										data: new FormData( this ),
										processData: false,
										contentType: false,
										dataType: "text",
										success: _return,
										error: _return
									});
									return false
								})
							})

				else
					.col-sm-6
						h4	Result
						iframe( name="s3target" width="100%", height="500" )
